# Mac OS system files
.DS_Store
.AppleDouble
.ls-cache
._*

# Visual Studio Code settings
.vscode/

# Compiled C++ object files and executables with extensions
*.o
*.out
*.exe
*.dSYM/

# Ignore Mac compiled binaries without extensions (e.g., '2d_arrays', 'spiral_matrix')
# Applies across all main folders and subdirectories
!*.*
!**/